header {
  display: flex;
  justify-content: center;
}

body {
  background: #513252;
}

h1 {
  color: #FFC18E;
}
h2 {
  color: #CA4E79;
  margin: 0.25rem;
}
h3{
  color: #7A4069;
}

#audio_upload {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  background: #7A4069;
  border: solid white 2px;
  filter: drop-shadow(0px 0px 2px #000000);
  color: #FFC18E;
  margin-bottom: 2rem;
  font-size: 24px;
  font-weight: bold;
}

.uploadForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#uploadFileButton {
  width: 200px;
  display: flex;
  outline: 0;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, #7A4069, #CA4E79) !important;
  border-radius: 3px;
  padding: 1rem;
  white-space: nowrap;
  border: solid white 0.5px;
  transition: background-image 1s;
  transition: border 1s;
}

#uploadFileButton:hover {
  border-color: black;
  background: linear-gradient(to right, rgb(62, 199, 224), rgb(82, 107, 244));
  filter: drop-shadow(0px 0px 2px #000000);
}

.subText {
  justify-content: center;
  display: flex;
  color: white;
  font-size: 16px;
  margin-bottom: 2rem;
}

.resultGraphs {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

.resultGraphs img {
  max-width: 100%;
}

.predictions {
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
  flex-direction: column;
}
.predictions h2{
  font-size: 22px;
  margin-bottom: 0;
}
.predictions li{
  padding-bottom: 0.5rem;
  font-size: 20px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.featurePredictions ol{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
.genrePredictions h2 {
  display: flex;
  justify-content: center;
}
.featurePredictions h2
{
  display: flex;
  justify-content: center;
}

.featurePredictions ol li {
  list-style-type: none;
}

.main-page {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: white;
  border-radius: 5px;
}

.title {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.title h2 {
  margin-bottom: 0;
  align-self: center;
}
.predictions h3 {
  align-self: center;
  justify-self: center;
}
.predictions div {
  display: flex;
  flex-direction: column;
}
.featureGraph {
  display: flex;
  align-items: center;
  justify-content: center;
}

.genre_bar {
  display: flex;
  flex-direction: column;
}

.resultGraphs h3 {
  margin: 0;
}

.graphInfo {
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trackRecomendations {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trackRecomendations li {
  list-style-type: none;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: 5px;
  border: solid;
  border-color: purple;
  text-align: center;
}

.trackRecomendations ul {
  display: flex;
}

.trackRecomendations li p {
  margin: 0.2rem;
}

.midSection {
  display: flex;
}

.midSection .trackRecomendations, .midSection .webChart {
  width: 50%;
}

.genreSelect {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.featureComparison h2 {
  text-align: center;
}

.genreSelect select {
  width: 130px;
  margin-left: 0.5rem;
  text-align: center;
}

.trackRecomendations ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.beatVisualization {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5px, 1fr));
  gap: 5px;
  padding-top: 1rem;
}

.beatDot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color:#D3D3D3;
}

.beatDot.active {
  background-color: purple; 
}
.graphInfo{
  margin-bottom: 1rem;
}

.beatGrid, .melSpec {
  width: 50%;
  padding: 0.5rem;
}

.infoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audioStream {
  margin-left: auto;
  margin-right: auto;
}

.mobileDownload {
  display: none;
}

.topGenres {
  list-style: none;
  display: flex;
}
.topGenreList {
  border-right: purple solid 3px;
  padding-right: 1rem;
}
.last-top-genre {
  border-right: none;
}
.featurePredictions {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 600px) {
  body{
    padding: 1rem;
  }
  h1{
    text-align: center;
  }
  h3{
    word-wrap: anywhere;
    text-align: center;
  }
  #audio_upload{
    width: 100%;
  }
  .subText{
    text-align: center;
  }
  .main-page{
    width: 100%;
  }
  .predictions{
    display: block;
  }
  .genrePredictions ol{
    display: flex;
    align-items: center; 
    flex-direction: column;
  }
  .mobileDownload {
    display: block;
    width: 200px;
    outline: 0;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to right, #7A4069, #CA4E79) !important;
    border-radius: 3px;
    padding: 1rem;
    white-space: nowrap;
    border: solid white 0.5px;
    transition: background-image 1s;
    transition: border 1s;
    text-align: center;
    text-decoration: none;
    border-color: black;
  }
  .featureGraph{
    margin-bottom: 2rem;
  }
  .graphImage{
    display: none;
  }
  .featurePredictions ol {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .midSection {
    flex-direction: column;
  }
  .midSection .trackRecomendations, .midSection .webChart {
    width: 100%;
  }
  .trackRecomendations{
    max-width: 100%;
  }
  .trackRecomendations ul {
    padding: 0;
  }
  .infoSection p {
    text-align: center;
  }
  .beatGrid, .melSpec {
    width: 100%;
  }
  .beatGrid{
    margin-bottom: 2rem;
  }
  .resultGraphs{
    flex-direction: column-reverse;
  }
}